<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @poll.question %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @poll.start_date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @poll.deadline %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @poll.admin %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
